footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../assets/dragon-banner-blue.jpg);
    background-size: cover;
    background-position-y: 35% ;
    height: 120px;
  }
  
   .derechos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    p{
        color: #EEEEEE;
        margin: 0px;
    }
  }
  
  .derechos p {
    color: #EEEEEE;
    margin: 0px;
  }
  
  .redes_sociales {
    display: flex;
    justify-content: space-evenly;
    width: 180px;
    color: #EEEEEE;
    a{
        text-decoration: none;
        color: #EEEEEE;
        i{
         font-size: 20px; 
        }
    }
  }
  