header{
    background-image: url(../assets/dragon-azul.jpg);
    background-size: cover;
    background-position-y: 35%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.navbar {
    background-color: $color-navbar;
    position: fixed;
    top: 0;
    z-index: 1500;
    img {
        width: 30px;
        height: 30px;
    }

    ul {
        li{
            a{
                color: $color-tipografia;
                &:hover{
                    color: $color-hover;
                }
            }
        }
        
    }
}

.site-title{
    display: flex;
    text-align: center;
    justify-content: center;
    h1 {
        color: $color-subtitulos;
        font-weight: 700;
    }
}
