.grid-container {
    background-color: map-get($colors , primary );
    display: flex;
    flex-direction: column;
}


.contenedor-c {
    display: flex;
    width: 715px;
    align-content: center;
    align-self: center;
}


.carousel{
    padding-top: 50px;
    padding-bottom: 50px;
}

.intro{
    &-subtitle {
    display: flex;
    align-content: center;
    justify-content: center;
        h2 {
            color: $color-h2;
            text-align: center
        }
}
    &-text {
        p{
         text-align: center;
         margin-bottom: 0px;
         padding-bottom: 50px;
        }
    }
}


.nos-indice {
    padding-right: 0px;
}

.nos{
    &-indice {
        padding-right: 0px;
        nav{
            ol{
                li{
                    a{
                        text-decoration: none; 
                    }
                }
            }
        }
}
    &-stitle {
        text-align: center;
        color: $color-subtitulos;
        padding-top: 50px;
        padding-bottom: 50px;
        text-decoration: underline;
    }
    &-info {
        background-color: map-get($colors , secundary );
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        h3 {
            text-decoration: underline;
        }
    }
}


.folk-info {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    border: solid 1px map-get($colors , secundary );
    h3 {
        color: $color-subtitulos;
    }
    p{
        color: $color-tipografia; 
    }
    nav{
        ul{
            li{
                a{
                    color:$color-tipografia;
                }
            }
        }
    }
    iframe{
        width: 100%;
        height: auto;
        max-height: 500px;
    }
}


.drag-info {
    display: flex;
    text-align: center;
    flex-direction: column;
    color: map-get($colors , secundary );
    margin-top: 50px;
    margin-bottom: 50px;

}


.deck {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    &-alt{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}


.card {
    max-width: 18rem;
}

.avis{
    &-stitle {
    background-color: map-get($colors , secundary );
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    h3{
        text-decoration: underline;
      }
    }
    &-info {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
        border: solid 1px map-get($colors, secundary );
        h4{
            text-decoration: underline;
            color: $color-h2;
          }
        p{
         color: $color-tipografia; 
        }
        iframe{
                width: 100%;
                height: auto;
                max-height: 500px;
              }
    }
}
