iframe {
    height: 500px;
    padding: 0;
    padding-bottom: 50px;

}

.container-fluid {
    padding: 0px;
}

div {
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

.btn {
    border: solid 1px map-get($colors, secundary );
    color: map-get($colors, secundary );
    margin-top: 5px;
    margin-bottom: 5px;
    &:hover{
        color: $color-hover;
        border: solid 1 px $color-hover;
        background-color: map-get($colors, secundary);
    }
}

h2 {
    display:inline;
    background-color: map-get($colors , secundary);
    color: $color-h2;
    font-weight: 500;
    margin-bottom: 50px;
}

h4 {
    color: $color-subtitulos;
}