iframe {
    height: 500px;
    padding: 0;
    padding-bottom: 50px;

}

.container-fluid {
    padding: 0px;
}

div {
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

.btn {
    border: solid 1px white;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

h2 {
    display:inline;
    background-color: white;
    color: black;
    font-weight: 500;
    margin-bottom: 50px;
}