@mixin sizes($pad,$marg) {
    padding: $pad;
    margin: $marg;
}

@mixin titles {
    font-size: $f-lg;
    color: $color-tipografia;

}

@mixin margin($top,$bot) {
    margin-top: $top;
    margin-bottom: $bot;
}